body {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: bold;
    color : #0A0A00
}

/* @media (min-width : 1200px){
    .carroussel, .commentary {
        background-color: yellow;
        height: 100em;
    }
} */

.img_vehicle {
    width: 100%;
}

.carroussel {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1em auto 1em auto;
    min-height: 200px;
    background-image: url("/img/Fond Accueil.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (min-width: 1024px) {
        min-height: 300px;
    }

    @media screen and (min-width: 1440px) {
        background-position: 50% 67%;
    }
}

.search {
    display: flex;
    margin: 1em auto 1em auto;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    >label {
        padding-right: 0.35em;
        display: inline-block;
    }
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    height: auto;

}


.commentary {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    display: flex;
    background-color: rgb(176, 176, 176);
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 0.55em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
    }

    @media screen and (min-width: 1024px) {
        font-size: 1em;
    }
}



.hour, .links, .contacts {
    width: 20em;
}

.fond {
    max-width: 95%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.text-img {
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  }

.modele {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    background-color: red;
    padding: 2em;
    text-align: center;
    font-size: 1em;
}

.car {
    background-color: green;
}

.car, .title {
    width: 21.2em; 
    height: 21.2em;
    margin: 1em 0.25em;

    @media screen and (min-width:1440px) {
        width: 19.1em;
        height: 19.1em;
    }
}

.container {
    margin: auto;

    @media screen and (min-width:768px) {
        max-width: 720px;
    }

    @media screen and (min-width:1024px) {
        max-width: 996px;
    }

    @media screen and (min-width:1440px) {
        max-width: 1412px;
    }
}

.menu-desktop {
    display: flex;
    justify-content: space-around;
    background-color: #D01110;

    @media screen and (max-width:1023px) {
        display: none;
    }
}

.vehicle {
    display: flex;
    flex-wrap: wrap;
}

.grpFilters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.fieldsFilters {
    display: flex;
    flex-direction: column;
}



* {
    /* Pour que les tailles soient correctes */
    box-sizing: border-box;
    
  }
  
  body {
    /* Pour coller le menu au bord, sans espace */
    margin: 0;
  }
  

  .menu {
    /* Pour que le menu reste en place quand on scroll */
    position: fixed;
    /* Pour que le menu ne soit pas sur le texte et que ce dernier puisse être sélectionné */
    width: 0px;
    left: 0;
    top: 0;
  }
  
  main {
    /* Pour que le texte ne soit pas sous le menu */
    margin-left: 50px;
    width: 500px;
    text-align: justify;
  }
  
  #hamburger {
    /* Pour que la checkbox ne s'affiche pas */
    display: none;
  }
  
  #hamburger-logo {
    /* Pour que le curseur soit un pointeur */
    cursor: pointer;
    background: #0A0A00;
    width: 200px;
    display: block;
    color: white;
    /* Pour que le menu hamburger s'affiche toujours */
    text-align: right;
    /* Pour que le menu hamburger soit "rangé" par défaut */
    transform: translateX(-168px);
    padding: 10px;

    @media screen and (min-width:1024px) {
       display: none;
    }
  }
  
  .menu-burger {
    display: flex;
    flex-direction: column;
    background: black;
    overflow: hidden;
    width: 200px;
    /* Pour que les liens soient "rangés" par défaut */
    transform: translateX(-200px);
    @media screen and (min-width:1024px) {
        display: none;
     }
  }
  
  #hamburger-logo,
  nav {
    /* Pour qu'il y ait une animation */
    transition: 0.7s;
  }
  
  /* Lorsque #hamburger est coché, le #hamburger-logo et le nav qui sont dans le même parent changent de propriété */
  #hamburger:checked ~ #hamburger-logo,
  #hamburger:checked ~ nav {
    /* Changement de la position pour afficher les menus */
    transform: translate(0);
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:hover {
    background: #5E7089;
  }

 .userTable {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin: auto;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
  caption {
    padding: 10px;
  }

  .userForm {
    padding-top: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }